@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  /* background-color: rgb(44, 42, 42); */
  background: black url("/src/assets/pm.png") no-repeat fixed center;
}
.head {
  background-color: black !important;
  position: relative;
}
.head2 {
  /* margin-left: 1200px; */
}
.headerIcon {
  position: absolute;
  width: 132px;
  height: 132px;
  left: -66px;
  top: -67px;
  border-radius: 100px;
}
.headerIcon2 {
  width: 95px;
  height: 95px;
  /* top: -27px; */
  border-radius: 100px;
  background: rgba(106, 137, 248, 0.75);
}
.h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5em;
  color: white;
}
.h6 {
  font-size: 40px;
  font-weight: bold;
  line-height: 16px;
}
.h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: white;
}

.btn_h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.home {
  background: linear-gradient(101.77deg, #000000 0%, #d55cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.08em;
}

.welcome {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.08em;
}
.subtitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.06em;
  color: #1246fe;
}

.card {
  background: white;
  /* background: #d66d75; */
  /* rgba(239, 239, 239, 1) */
}

.card-subtitle {
  /* rgb(250, 238, 238) */
  background: #cccaca;
  box-shadow: -16px 16px 14px rgba(0, 0, 0, 0.06);
  /* opacity: 0.5; */
}

.vibes-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08em;
  color: white;
}

.admin-card {
  background: linear-gradient(101.77deg, #141e30 0%, #243b55 100%);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.event-card {
  background: linear-gradient(101.77deg, #000000 0%, #d55cff 100%);
}

.toggle-checkbox:checked {
  @apply: right-0 border-green;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}
