@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  /* background-color: rgb(44, 42, 42); */
  background: black url("/src/assets/pm.png") no-repeat fixed center;
}
#body {
  background-color: #4d2459;
}
.head {
  background-color: black !important;
  position: relative;
}
.head2 {
  /* margin-left: 1200px; */
}
.headerIcon {
  position: absolute;
  width: 132px;
  height: 132px;
  left: -66px;
  top: -67px;
  border-radius: 100px;
}
.headerIcon2 {
  width: 95px;
  height: 95px;
  /* top: -27px; */
  border-radius: 100px;
  background: rgba(106, 137, 248, 0.75);
}
.h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5em;
  color: white;
}
.h6 {
  font-size: 40px;
  font-weight: bold;
  line-height: 16px;
}
.h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: white;
}

.btn_h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.home {
  background: linear-gradient(101.77deg, #000000 0%, #d55cff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.08em;
}

.welcome {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.08em;
}
.subtitle {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.06em;
  color: #1246fe;
}

.card {
  background: white;
  /* background: #d66d75; */
  /* rgba(239, 239, 239, 1) */
}

.card-subtitle {
  /* rgb(250, 238, 238) */
  background: #cccaca;
  box-shadow: -16px 16px 14px rgba(0, 0, 0, 0.06);
  /* opacity: 0.5; */
}

.vibes-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.08em;
  color: white;
}

.admin-card {
  background: linear-gradient(101.77deg, #141e30 0%, #243b55 100%);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.event-card {
  background: linear-gradient(101.77deg, #000000 0%, #d55cff 100%);
}
.event-card2 {
  background: linear-gradient(101.77deg, #cc2b5e 0%, #753a88 100%);
}
.event-card3 {
  background: linear-gradient(101.77deg, #02aab0 0%, #00cdac 100%);
}

.toggle-checkbox:checked {
  @apply: right-0 border-green;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}

#qr-canvas {
  /* margin: auto;
  width: calc(100% - 20px);
  max-width: 400px; */
  width: 100%;
  height: 100%;
}

#btn-scan-qr {
  cursor: pointer;
}

#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  background-color: white;
}

#title {
  font-family: "Montserrat";
  font-style: normal;
  /* font-weight: 500;
  font-size: 24px; */
  /* line-height: 29px; */
  color: #ffffff;
}

#text1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}

#text2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #b2b2b2;
}

#footer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

#login {
  background: #ffffff;
  opacity: 0.85;
}
#label {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #666666;
}
#h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}
#header {
  background: #333333;
}
#dashboard {
  background: #ffffff;
  box-shadow: 2px 0px 5px #c4c4c4;
}
#dashboardText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* color: #808080; */
}

#active {
  background: #e5e5e5;
}
#h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  /* color: #000000; */
}

#qrTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  /* text-align: center; */
  color: #000000;
}

#reader {
  width: 500px;
}
